<a href="https://colab.research.google.com/github/rodrigowe1988/Data-Science-na-Pratica/blob/main/Informa%C3%A7%C3%B5es_estat%C3%ADsticas_%2BBIKE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("arquivo_geral.csv", delimiter=';')

In [5]:
df.head()

  regiao estado        data  ...  casosAcumulados  obitosNovos  obitosAcumulados
0  Norte     RO  2020-01-30  ...                0            0                 0
1  Norte     RO  2020-01-31  ...                0            0                 0
2  Norte     RO  2020-02-01  ...                0            0                 0
3  Norte     RO  2020-02-02  ...                0            0                 0
4  Norte     RO  2020-02-03  ...                0            0                 0

[5 rows x 7 columns]

In [9]:
df_new = pd.read_csv("http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv")
df_new.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

In [10]:
df_new.dtypes

user_gender        object
user_birthdate     object
user_residence     object
ride_date          object
time_start         object
time_end           object
station_start      object
station_end        object
ride_duration     float64
ride_late         float64
dtype: object

In [20]:
#quantos entradas tem para cada gênero
df_new['user_gender'].value_counts()

M    212608
F     74318
Name: user_gender, dtype: int64

In [23]:
#verificar as informações estatísticas do DataFrame da
df_new.describe()

       ride_duration      ride_late
count  214148.000000  214148.000000
mean       29.915932       0.098829
std        58.857297       0.298433
min         3.000000       0.000000
25%         8.083333       0.000000
50%        14.200000       0.000000
75%        33.766667       0.000000
max       999.600000       1.000000

Diferenças entre a mediana e a média

In [24]:
pd.Series([1, 1, 2, 4, 7, 9, 589]).median()

4.0

In [25]:
pd.Series([1, 1, 2, 4, 7, 9, 589]).mean()

87.57142857142857